[submodule "en/book/tex/latex-solarized"]
	path = en/book/tex/latex-solarized
	url = git://github.com/jez/latex-solarized.git

[submodule "pdf/pdfs"]
	path = pdf/pdfs
	url = git@github.com:learnyou/lysa-pdfs.git
	branch = master
