deploy_rsa
deploy_rsa.pub
changes.md
*.sage.py
/en/book/lysa.html
/ru_old
/en/book/code/firstproof.idr
/en/book/code/firstproof.v
/lysa-en.pdf
.lysa
/tmp
/en-memoir/lysa.aux
/en-memoir/lysa.bcf
/en-memoir/lysa.blg
/en-memoir/lysa.fdb_latexmk
/en-memoir/lysa.fls
/en-memoir/lysa.log
/en-memoir/lysa.out
/en-memoir/lysa.pdf
/lysa-en-ebook.pdf
/lysa-en-memoir.pdf
/lysa-en-print.pdf
